page-item-details {
  .item-profile {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100%;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
  img {
   padding:1px;
   border:1px;
   background-color:red;
}
}
